:root {
    --hover: 50%;
    --hover-transition: 250ms;

    --font-colour-dark: #272826;
    --font-colour-light: #AFBDCA;

    --theme-colour-main: #F3F7FB;
    --theme-colour-light: #FFFFFF;

    --border-grey: #AFBDCA;
    
}

body {
    all: unset;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--theme-colour-main);
}

.flex_basic {
    display: flex;
    width: 100%;
}

.flex_basic_item {
    width: 100%;
}

.flex_centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_vert_centre {
    display: flex;
    align-items: center;
}









/* header styles ----------------------------------------------------------------------------------------------------------- */
header {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-colour-light);
    font-size: 1rem;
    font-weight: 700;
    color: var(--font-colour-dark);
}

.header_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo {
    width: 4rem;
    height: 4rem;
}

.nav_container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.nav_element {
    padding: 1rem;
    transition: var(--hover-transition);
}

.nav_element a {
    text-decoration: none;
    color: var(--font-colour-dark);
}

.nav_element:hover {
    cursor: pointer;
    opacity: var(--hover);
}

@media only screen and (max-width: 900px) {
    header {
        font-size: 75%;
    }

    .header_logo {
        width: 3rem;
        height: 3rem;
    }

}
/* header styles ----------------------------------------------------------------------------------------------------------- */










/* Footer styles ----------------------------------------------------------------------------------------------------------- */
footer {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-colour-light);
    font-size: 75%;
    color: var(--font-colour-dark);
}

.footer_container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 5fr 3fr;
    gap: 1rem;
}

.footer_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    width: 2rem;
    height: 2rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_row_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_element {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--hover-transition);
}

.footer_element a {
    text-decoration: none;
    color: var(--font-colour-dark);
}

.footer_element:hover {
    cursor: pointer;
    opacity: var(--hover);
}
/* Footer styles ----------------------------------------------------------------------------------------------------------- */










/* Main body styles ----------------------------------------------------------------------------------------------------------- */
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.hero_title_container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:rgba(200, 200, 200, 0.4);
    backdrop-filter: saturate(180%) blur(0.5rem);
}

.hero_title {
    font-size: 10rem;
    font-family: 700;
}

@media only screen and (max-width: 900px) {
    .hero_title {
        font-size: 5rem;
    }
}
/* Main body styles ----------------------------------------------------------------------------------------------------------- */










/* Additional body styles ----------------------------------------------------------------------------------------------------------- */
.screen_wide_content {
    padding: 1rem;
}
/* Additional body styles ----------------------------------------------------------------------------------------------------------- */










/* Scorecard styles ----------------------------------------------------------------------------------------------------------- */
.scorecard {
    margin: 2rem 0;
    width: 80%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
}

.match_info_container {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--theme-colour-light);
    border: solid 1px var(--border-grey);
    border-radius: 0.5rem;
}

.match_data {
    display: flex;
}

.round_number_container {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px var(--border-grey);
}

.round_number {
    font-size: 1.5rem;
    font-weight: 700;
}

.team_scores_container {
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top_players_container {
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: solid 1px var(--border-grey);
}

.team_score_grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.top_players_grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.grid_item {
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #333; */
}

.title {
    font-size: 1.5rem;
}

.team_name {
    display: flex;
    align-items: center;
    justify-content: right;
}

.winner {
    color: red;
}
/* Scorecard styles ----------------------------------------------------------------------------------------------------------- */










/* Season stats styles ----------------------------------------------------------------------------------------------------------- */
.top_stats_grid {
    margin: 2rem;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.top_stats_container {
    /* margin: 2rem 0; */
    padding: 1rem;

    border-radius: 0.5rem;
    background-color: var(--theme-colour-light);
    border: solid 1px var(--border-grey);
    min-width: 15rem;
}


.stat_title {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px var(--border-grey);
}

.top_rank {
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr 2fr;
    gap: 1rem;
}

.runner_ups {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 75%;
}

.runner_ups_grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr 2fr;
    gap: 1rem;
}

.player_team_name {
    font-size: 75%;
    color: var(--font-colour-light);
}

.stats_grid_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .top_stats_grid {
        margin: 2rem;
    
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
/* Season stats styles ----------------------------------------------------------------------------------------------------------- */










/* Scoresheet styles ----------------------------------------------------------------------------------------------------------- */
input[type="text"] {
    padding: 0.5rem;
    border: 1px var(--border-grey) solid;
    border-radius: 0.25rem;
    min-width: none;
}

input[type="number"] {
    padding: 0.5rem;
    border: 1px var(--border-grey) solid;
    border-radius: 0.25rem;
    min-width: none;
}

.scoresheet {
    width: 80%;
    padding: 2rem;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    background-color: var(--theme-colour-light);
    border: solid 1px var(--border-grey);
    border-radius: 0.5rem;
}

.match_date_input_container {
    width: 100%;
}

.match_date_input {
    width: 25%;
}

.team_name_input_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.team_name_input {
    width: 75%;
}

.game_grid {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 5fr 2fr 2fr;
}

.game_grid_item {
    padding: 0.5rem;
    /* border: 1px solid black; */
}

.grid_input {
    width: calc(100% - 1rem - 2.5px);
}

.win_counter_container {
    display: flex;
    flex-direction: column;
}

.win_counter {
    height: 100%;
}

.game_results {
    display: flex;
    justify-content: space-around;
}

.winner_team_name {
    text-align: center;
}

.ton_grid_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ton_grid {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}

.score_entry_submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.score_entry_submit_button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.score_entry_submit_button:hover {
    background-color: #217dbb;
}
/* Scoresheet styles ----------------------------------------------------------------------------------------------------------- */










