:root {
    --hover: 50%;
    --hover-transition: 250ms;

    --font-colour-dark: #272826;
    --font-colour-light: #E8EBF7;

    --theme-colour-main: #D9D9D9;
    --theme-colour-dark: #465362;
    
}

body {
    all: unset;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
}










/* header styles ----------------------------------------------------------------------------------------------------------- */
header {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-colour-main);
    font-size: 1rem;
    font-weight: 700;
    color: var(--font-colour-dark);
}

.header_container {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo {
    width: 5rem;
    height: 5rem;
}

.nav_container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.nav_element {
    padding: 1rem;
    transition: var(--hover-transition);
}

.nav_element a {
    text-decoration: none;
    color: var(--font-colour-dark);
}

.nav_element:hover {
    cursor: pointer;
    opacity: var(--hover);
}
/* header styles ----------------------------------------------------------------------------------------------------------- */










/* Footer styles ----------------------------------------------------------------------------------------------------------- */
footer {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-colour-main);
    font-size: 1rem;
    color: var(--font-colour-dark);
}

.footer_container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer_logo {
    width: 2rem;
    height: 2rem;
}

.footer_row_container {
    display: flex;
    flex-direction: row;
}

.footer_element {
    padding: 1rem;
    transition: var(--hover-transition);
}

.footer_element a {
    text-decoration: none;
    color: var(--font-colour-dark);
}

.footer_element:hover {
    cursor: pointer;
    opacity: var(--hover);
}
/* Footer styles ----------------------------------------------------------------------------------------------------------- */










/* Main body styles ----------------------------------------------------------------------------------------------------------- */
main {
    min-height: 100vh;
}

.hero_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.hero_title_container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:rgba(200, 200, 200, 0.4);
    backdrop-filter: saturate(180%) blur(0.5rem);
}

.hero_title {
    font-size: 10rem;
    font-family: 700;
}
/* Main body styles ----------------------------------------------------------------------------------------------------------- */










/* Additional body styles ----------------------------------------------------------------------------------------------------------- */
.screen_wide_content {
    padding: 1rem;
}
/* Additional body styles ----------------------------------------------------------------------------------------------------------- */










/* Scorecard styles ----------------------------------------------------------------------------------------------------------- */
.scorecard {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
}

.match_info_container {
    margin: 0 2rem;
    padding: 1rem;

    background-color: var(--theme-colour-main);
}

.round_number_container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px var(--font-colour-dark);
}

.round_number {
    font-size: 1.5rem;
    font-weight: 700;
}

.match_scorecard {
    width: 100%;
    display: flex;  
}

.team_score_container {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team_score {
    font-size: 2rem;
}

.top_player_info_container {
    width: 100%;
    display: flex;
}

.top_player_info {
    width: 100%;
    padding: 1rem;
}

.title {
    font-weight: 700;
}

.player {
    margin-top: 1rem;
}

/* Scorecard styles ----------------------------------------------------------------------------------------------------------- */